@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
              
@using Nancy.Validation;
@using DinnerParty.HtmlExtensions;
@using System.Collections.Generic;
@using System.Globalization;
  
<form method="post" id="dinnerForm" 
      data-latitude="@Convert.ToString(Model.Dinner.Latitude, CultureInfo.InvariantCulture)"
      data-longitude="@Convert.ToString(Model.Dinner.Longitude, CultureInfo.InvariantCulture)"
      data-title="@Model.Dinner.Title"
      data-address="@Model.Dinner.Address">   
        @Html.ValidationSummary((List<DinnerParty.Models.ErrorModel>)Model.Page.Errors) 
        <fieldset>

            <div id="dinnerDiv">

                <label for="Title">Title</label>
                <input class="text-box single-line" id="Title" name="Title" type="text" value="@Model.Dinner.Title" /> 

                <label for="EventDate">Event Date</label>
                <input class="text-box single-line" id="EventDate" name="EventDate" type="datetime" value="@Model.Dinner.EventDate" />
@*
                <script type="text/javascript">
                    $(function () {
                        if (!Modernizr.inputtypes.date) {
                            
//                                        $("input[type='datetime']").datetime({
//                                            userLang: 'en',
//                                            americanMode: false
//                                        });
                        }
                    });

                </script>*@

                <label for="Description">Description</label>
                <textarea class="text-box multi-line" id="Description" name="Description">@Model.Dinner.Description</textarea> 

                <label for="HostedBy">Host&#39;s Name</label>
                <input class="text-box single-line" id="HostedBy" name="HostedBy" type="text" value="@Model.Dinner.HostedBy" /> 

                <label for="ContactPhone">Contact Info</label>
                <input class="text-box single-line" id="ContactPhone" name="ContactPhone" type="text" value="@Model.Dinner.ContactPhone" /> 

                <label for="Address">Address, City, State, ZIP</label>
                <input class="text-box single-line" id="Address" name="Address" type="text" value="@Model.Dinner.Address" /> 

                <label for="Country">Country</label>
                <select id="Country" name="Country">
                    @foreach (var country in DinnerParty.Helpers.CountryList.Countries)
                    {
                        if (country == Model.Dinner.Country)
                        {
                            <option selected="selected">@country</option>
                        }
                        else
                        {
                        <option>@country</option>
                        }
                    }
                </select>
                <input id="Latitude" name="Latitude" type="hidden" value="0" />
                <input id="Longitude" name="Longitude" type="hidden" value="0" />
                <input id="HostedById" name="HostedById" type="hidden" value="" />


                <p>
                    <input type="submit" value="Save" />
                </p>
            </div>

        <div id="mapDiv">
            <script src="http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.3" type="text/javascript"></script>
                <div id="theMap" style="width: 520px">
                </div>
                (drag the pin in the map if it doesn't look right) *
        </div>
    </fieldset>
</form>
